@charset "utf-8";
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v7/4iC86LVlZsRSjQhpWGedwyOoW-0A6_kpsyNmpAzHHA.ttf) format('truetype');
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 2vh;
  line-height: 1.2;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #666;
}
header,
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0;
}
header {
  color: #fff;
}
header h1 {
  margin: 0;
  padding: 0;
}
.inventory {
  display: flex;
  flex-flow: row nowrap;
  height: 6vh;
}
.inventory .tile {
  width: 6vh;
  height: 6vh;
  margin: 0 0.2vh;
}
main {
  position: relative;
  color: #fff;
}
main .map {
  border: 1vh solid #666;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  background-image: url(img/path.png);
  background-position: left top;
  background-size: 8vh 8vh;
  outline: none;
}
main .map:focus {
  border-color: #fd0;
}
main .map .row {
  display: grid;
  grid-template-columns: repeat(12, 8vh);
  grid-auto-rows: 1fr;
}
main .map .row > * {
  width: 8vh;
  height: 8vh;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: none;
}
.overlay.visible {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}
.overlay .dialog {
  width: 30em;
  min-height: 150px;
  padding: 1em 2em;
  background-color: transparent;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}
.overlay .dialog h2 {
  text-align: center;
}
.overlay .dialog .hint {
  display: none;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 45%;
  padding: 1em;
  background-color: #ffc;
  color: #000;
  border: 2px solid #000;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0.2em 0.4em 0 rgba(0, 0, 0, 0.15);
}
.overlay .dialog.book {
  width: 95%;
  height: 95%;
  font-family: 'Shadows Into Light Two', sans-serif;
  background: transparent url(img/book_bg.png) no-repeat center top;
  background-size: contain;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #654;
}
.overlay .dialog.book .columns {
  box-sizing: border-box;
  height: 85%;
  margin: 2em;
  -webkit-columns: 15em 2;
  -moz-columns: 15em 2;
  columns: 15em 2;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
  -moz-column-fill: auto;
  column-fill: auto;
}
.overlay .dialog.book .column_break_after {
  break-after: column;
}
.overlay .dialog.book img {
  width: 100%;
  height: auto;
}
.overlay .dialog.chest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #333 url(img/dialogs/chest_closed.png) no-repeat center top;
  background-size: contain;
  border: 1vh solid #9ab;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  border-radius: 1vh;
  box-shadow: 0 0 1vh 0.5vh rgba(0, 0, 0, 0.5);
}
.overlay .dialog.chest .panel_01 {
  display: none;
  width: 7vh;
  height: auto;
  margin: 5vh 0 0 2vh;
  transform: rotate(58deg);
}
.overlay .dialog.chest .nitrogen {
  display: none;
  width: 7vh;
  height: auto;
  margin: 3vh 0 0 2vh;
}
.overlay .dialog.chest.unlocked {
  background-image: url(img/dialogs/chest_open.png);
}
.overlay .dialog.chest.unlocked .panel_01,
.overlay .dialog.chest.unlocked .nitrogen {
  display: block;
}
.overlay .dialog.exit {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em 5em;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1vh solid #9ab;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  border-radius: 1vh;
  box-shadow: 0 0 1vh 0.5vh rgba(0, 0, 0, 0.5);
}
.overlay .dialog.exit button {
  margin: 1em auto;
  padding: 0.5em 2em;
  font: inherit;
  background-color: #fd0;
  color: #000;
  border: none;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  border-radius: 1vh;
}
.overlay .dialog.puzzle_01 {
  width: 100%;
  height: 100%;
  background: #333 url(img/dialogs/puzzle_01.png) no-repeat center top;
  background-size: contain;
  border: 1vh solid #9ab;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  border-radius: 1vh;
  box-shadow: 0 0 1vh 0.5vh rgba(0, 0, 0, 0.5);
  transform: scale(1);
}
.overlay .dialog.puzzle_01 .display {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 38%;
  padding-right: 14%;
  font-size: 1.6em;
  text-align: center;
  letter-spacing: 0.2em;
  color: red;
}
.overlay .dialog.puzzle_01 .display.unlocked {
  color: green;
}
.overlay .dialog.puzzle_01 .controls {
  position: absolute;
  top: 20vh;
  bottom: 13vh;
  right: 0;
  width: 39%;
  padding: 2.5vh 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.overlay .dialog.puzzle_01 .controls .togglebutton {
  width: 5vh;
  height: 5vh;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0.3em solid #333;
  background-color: #664;
  cursor: pointer;
  box-shadow: inset 0.2em 0.2em 0 #fff;
}
.overlay .dialog.puzzle_01 .controls .togglebutton:focus {
  background-color: #997;
}
.overlay .dialog.puzzle_01 .controls .togglebutton[aria-pressed=true] {
  background-color: #ffc;
  border-color: #fff;
  box-shadow: 0 0 1em 0.3em #fff;
}
.overlay .dialog.puzzle_01 .panel {
  display: none;
  position: absolute;
  top: 18vh;
  bottom: 13vh;
  right: 0;
  width: 31%;
}
.overlay .dialog.puzzle_01 .panel img {
  height: 100%;
  width: auto;
}
.overlay .dialog.puzzle_01.unlocked .panel {
  display: block;
}
.overlay .dialog.puzzle_02 {
  background-color: #ffc;
  color: #000;
  border: 2px solid #000;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0.2em 0.4em 0 rgba(0, 0, 0, 0.15);
}
.tile {
  background-size: cover;
}
.tile.wall {
  background-image: url(img/wall.png);
}
.tile.secret {
  background-image: url(img/secret.png);
}
.tile.hero {
  background-image: url(img/hero.png);
  transform-origin: bottom;
  animation: happyjump 0.4s infinite;
}
.tile.door {
  background-image: url(img/lock.png);
}
.tile.book {
  background-image: url(img/book.png);
}
.tile.chest {
  background-image: url(img/chest.png);
}
.tile.chest.open {
  background-image: url(img/chest_open.png);
}
.tile.panel_01 {
  background-image: url(img/panel_01.png);
}
.tile.nitrogen {
  background-image: url(img/nitrogen.png);
}
.tile.key {
  background-image: url(img/key.png);
}
.tile.exit {
  background-image: url(img/exit.png);
  animation: bounceright 0.4s infinite;
}
.tile.exit.down {
  animation: bouncedown 0.4s infinite;
}
.tile.shaking {
  animation: shake 0.2s 2;
}
.tile.gem.blue {
  background-image: url(img/gem_blue.png);
}
.tile.gem.pink {
  background-image: url(img/gem_pink.png);
}
.tile.gem.yellow {
  background-image: url(img/gem_yellow.png);
}
.tile.lever {
  background-image: url(img/lever_on.png);
}
.tile.lever.frozen {
  background-image: url(img/lever_on_frozen.png);
}
.tile.lever.off {
  background-image: url(img/lever_off.png);
}
.tile.bubble {
  background-image: url(img/bubble.png);
}
.tile.bubble:hover,
.tile.bubble.wobble {
  animation: wobble 0.3s 1;
}
.log {
  color: #fff;
}
.blink_three {
  animation: 0.5s blink 3;
}
@keyframes happyjump {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.95, 1.02, 1);
  }
  70% {
    transform: scale3d(1.02, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceright {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(-0.3em, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bouncedown {
  0% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  30% {
    transform: translate3d(0, -0.3em, 0) rotate(90deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wobble {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.9, 1.1, 1);
  }
  70% {
    transform: scale3d(1.1, 0.9, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/*# sourceMappingURL=game.css.map */