@charset 'utf-8';
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #666;
}
header,
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0;
  border-radius: 6px;
}
header {
  color: #fff;
}
header h1 {
  margin: 0;
  padding: 0;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.game {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.game .map {
  border: 1vh solid #666;
  border-radius: 6px;
  background-image: url(img/path.png);
  background-position: left top;
  background-size: 8vh 8vh;
}
.game .map .row {
  display: grid;
  grid-template-columns: repeat(9, 8vh);
  grid-auto-rows: 1fr;
}
.game .map .row > * {
  width: 8vh;
  height: 8vh;
}
.game .tools {
  position: relative;
  width: 35vh;
  margin-left: 1vh;
  padding: .5em;
  background-color: #666;
  border: 1vh solid #666;
  border-radius: 6px;
}
.game .tools .inventory {
  display: flex;
  flex-flow: row wrap;
  min-height: 7vh;
  padding: .3vh;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 1vh;
  box-shadow: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.25);
}
.game .tools .inventory .tile {
  width: 6vh;
  height: 6vh;
  margin: .2vh;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: .7vh;
}
.game .tools .log {
  padding: .5em 0;
}
.game .tools .recent {
  color: #fff;
}
.tile {
  background-size: cover;
}
.wall {
  background-image: url(img/wall.png);
}
.character {
  background-image: url(img/hero.png);
}
.door {
  background-image: url(img/lock.png);
}
.book {
  background-image: url(img/book.png);
}
.chest {
  background-image: url(img/chest.png);
}
.key {
  background-image: url(img/key.png);
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  display: none;
  justify-content: center;
  align-items: center;
}
.overlay .dialog {
  width: 30em;
  min-height: 150px;
  padding: 1em 2em;
  background-color: #fff;
  color: #000;
  border-radius: 1em;
}
