@charset "utf-8";

@tilesize: 8vh;

.border-radius(@r:1em) {
	-webkit-border-radius: @r;
	-moz-border-radius: @r;
	border-radius: @r;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 2vh;
	line-height: 1.2;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #222;
	color: #666;
}
header,
footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 1vh 0;
}
header {
	color: #fff;
	
	h1 {
		margin: 0;
		padding: 0;
	}
}
.inventory {
	display: flex;
	flex-flow: row nowrap;
	height: 6vh;
	
	.tile {
		width: 6vh;
		height: 6vh;
		margin: 0 .2vh;
	}
}
main {
	position: relative;
	color: #fff;
	
	.map {
		border: 1vh solid #666;
		.border-radius(.3em);
		background-image: url(img/path.png);
		background-position: left top;
		background-size: @tilesize @tilesize;
		outline: none;
		
		&:focus {
			border-color: #fd0;
		}
		
		.row {
			display: grid;
			grid-template-columns: repeat(12, @tilesize);
			grid-auto-rows: 1fr;
			
			& > * {
				width: @tilesize;
				height: @tilesize;
			}
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: none;
	
	&.visible {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
		transition: all .2s ease-in-out;
	}
	
	.dialog {
		width: 30em;
		min-height: 150px;
		padding: 1em 2em;
		background-color: transparent;
		.border-radius(.3em);
		
		h2 {
			text-align: center;
		}
		.hint {
			display: none;
			position: absolute;
			top: 1em;
			left: 1em;
			width: 45%;
			padding: 1em;
			background-color: #ffc;
			color: #000;
			border: 2px solid #000;
			.border-radius(.3em);
			box-shadow: .2em .4em 0 rgba(0, 0, 0, .15);
		}
		&.book {
			width: 95%;
			height: 95%;
			background: transparent url(img/book_bg.png) no-repeat center top;
			background-size: contain;
			.border-radius(0);
			color: #654;
			
			.columns {
				box-sizing: border-box;
				height: 85%;
				margin: 2em;
				-webkit-columns: 15em 2;
				-moz-columns: 15em 2;
				columns: 15em 2;
				-webkit-column-gap: 4em;
				-moz-column-gap: 4em;
				column-gap: 4em;
				-webkit-column-fill: auto;
				-moz-column-fill: auto;
				column-fill: auto;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		
		&.chest {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background: #333 url(img/dialogs/chest_closed.png) no-repeat center top;
			background-size: contain;
			border: 1vh solid #9ab;
			.border-radius(1vh);
			box-shadow: 0 0 1vh .5vh rgba(0, 0, 0, .5);
			
			.panel_01 {
				display: none;
				width: 7vh;
				height: auto;
				margin: 5vh 0 0 2vh;
				transform: rotate(58deg);
			}
			
			&.unlocked {
				background-image: url(img/dialogs/chest_open.png);
				
				.panel_01 {
					display: block;
				}
			}
		}
		
		&.exit {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 1em 5em;
			background-color: rgba(0,0,0,.5);
			border: 1vh solid #9ab;
			.border-radius(1vh);
			box-shadow: 0 0 1vh .5vh rgba(0, 0, 0, .5);
			
			button {
				margin: 1em auto;
				padding: .5em 2em;
				font: inherit;
				background-color: #fd0;
				color: #000;
				border: none;
				.border-radius(1vh);
			}
		}
		
		&.puzzle_01 {
			width: 100%;
			height: 100%;
			background: #333 url(img/dialogs/puzzle_01.png) no-repeat center top;
			background-size: contain;
			border: 1vh solid #9ab;
			.border-radius(1vh);
			box-shadow: 0 0 1vh .5vh rgba(0, 0, 0, .5);
			transform: scale(1);
			
			.display {
				position: absolute;
				top: 10vh;
				right: 0;
				width: 38%;
				padding-right: 14%;
				font-size: 1.6em;
				text-align: center;
				letter-spacing: .2em;
				color: red;
				
				&.unlocked {
					color: green;
				}
			}
			.controls {
				position: absolute;
				top: 20vh;
				bottom: 13vh;
				right: 0;
				width: 39%;
				padding: 2.5vh 0;
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-between;
				align-items: flex-start;
				
				.togglebutton {
					width: 5vh;
					height: 5vh;
					.border-radius(50%);
					border: .3em solid #333;
					background-color: #664;
					cursor: pointer;
					box-shadow: inset .2em .2em 0 #fff;
					
					&:focus {
						background-color: #997;
					}
					&[aria-pressed=true] {
						background-color: #ffc;
						border-color: #fff;
						box-shadow: 0 0 1em .3em #fff;
					}
				}
			}
			.panel {
				display: none;
				position: absolute;
				top: 18vh;
				bottom: 13vh;
				right: 0;
				width: 31%;
				
				img {
					height: 100%;
					width: auto;
				}
			}
			
			&.unlocked {
				.panel {
					display: block;
				}
			}
		}
		
		&.puzzle_02 {
			background-color: #ffc;
			color: #000;
			border: 2px solid #000;
			.border-radius(.3em);
			box-shadow: .2em .4em 0 rgba(0, 0, 0, .15);
		}
		
	}
}

.tile {
	background-size: cover;
	
	&.wall {
		background-image: url(img/wall.png);
	}
	&.secret {
		background-image: url(img/secret.png);
	}
	&.green {
		//background-image: url(img/path.png);
	}
	&.hero {
		background-image: url(img/hero.png);
		transform-origin: bottom;
		animation: happyjump .4s infinite;
	}
	&.door {
		background-image: url(img/lock.png);
	}
	&.book {
		background-image: url(img/book.png);
	}
	&.chest {
		background-image: url(img/chest.png);
	}
	&.panel_01 {
		background-image: url(img/panel_01.png);
	}
	&.key {
		background-image: url(img/key.png);
	}
	&.exit {
		background-image: url(img/exit.png);
		transform-origin: right;
		animation: bounceright .4s infinite;
	}
	&.shaking {
		animation: shake .2s 2;
	}
	&.gem.blue {
		background-image: url(img/gem_blue.png);
	}
	&.gem.pink {
		background-image: url(img/gem_pink.png);
	}
	&.gem.yellow {
		background-image: url(img/gem_yellow.png);
	}
	&.lever {
		background-image: url(img/lever_on.png);
		
		&.off {
			background-image: url(img/lever_off.png);
		}
	}
}

.log {
	color: #fff;
}
&.blink_three {
	animation: .5s blink 3;
}

@keyframes happyjump {
	0% { 
		transform: scale3d(1, 1, 1);
	}
	30% { 
		transform: scale3d(.95, 1.02, 1);
	}
	70% { 
		transform: scale3d(1.02, .95, 1);
	}
	100% { 
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceright {
	0% { 
		transform: translate3d(0, 0, 0);
	}
	30% { 
		transform: translate3d(-0.3em, 0, 0);
	}
	100% { 
		transform: translate3d(0, 0, 0);
	}
}

@keyframes shake {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(4deg);
	}
	75% {
		transform: rotate(-4deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}





