<div class="container level" ng-keydown="mapKeyDownHandler($event)">
	<div class="topbar">
		<div class="tools">
			<button ng-click="openMenu($event)" ng-keydown="openMenu($event)"><span class="icon-menu"></span></button>
			<button ng-click="toggleAmbientSound($event)" ng-keydown="toggleAmbientSound($event)" ng-class="{ 'pressed' : game.settings.music }"><span ng-class="game.settings.music ? 'icon-volume-2' : 'icon-volume-x' "></span></button>
		</div>
		<div class="inventory">
			<div ng-repeat="item in game.inventory track by item.id" ng-class="item.class">
				<div class="counter" ng-show="item.counter>1">{{item.counter}}</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="map" tabindex="1" role="application" aria-label="Level {{game.level.id + 1}} map">
			<div class="tile" ng-repeat="tile in game.level.floorplan" ng-class="tile.class" ng-click="tileClickHandler($event, tile)"></div>
		</div>
	</div>
	<div class="actionLog" role="region" aria-live="assertive">
		<span ng-bind-html="actionLog"></span>&nbsp;
	</div>
	<div class="overlay" ng-show="message.length"  ng-keydown="dialogKeyDownHandler($event)" tabindex="0">
		<div ng-class="{'book' : isBook, 'chest' : isChest, 'prof': isProf}" class="dialog" tabindex="0">
			<div class="message" ng-bind-html="message"></div>
		</div>
	</div>
</div>
