<div class="container puzzle2" ng-keydown="puzzleKeyDownHandler($event)">
	<div class="topbar">
		<div class="tools">
			<button ng-click="openMenu($event)" ng-keydown="openMenu($event)"><span class="icon-menu"></span></button>
			<button ng-click="toggleAmbientSound($event)" ng-keydown="toggleAmbientSound($event)" ng-class="{ 'pressed' : game.settings.music }"><span ng-class="game.settings.music ? 'icon-volume-2' : 'icon-volume-x' "></span></button>
		</div>
		<div class="inventory">
			<div ng-repeat="item in game.inventory track by item.id" ng-class="item.class"></div>
		</div>
	</div>
	<div class="content" tabindex="1" role="application" aria-labelledby="hint">
		<div class="main">
			<div class="hint" id="hint" ng-show="hint.length" ng-bind-html="hint"></div>
			<div class="display" ng-class="{ 'unlocked': !locked, 'blinking': error }" role="region" aria-live="polite">{{ message }}</div>
			<div class="flip" tabindex="1" aria-hidden="{{!pictureInFocus}}"
				 ng-focus="showHint('Press Enter key to flip the photo')"
				 ng-blur="showHint('')"
				 ng-keydown="flipPhoto($event)"
				 ng-class="{ 'flipped': flippedOver }"
				 ng-show="showPhoto">
				<div class="photo" role="region" aria-live="polite">
					<div class="front" aria-hidden="{{flippedOver}}">
						<img src="_/img/chest/cat_large.png" alt="">
						<div class="readersonly">Picture of cat</div>
						<div class="hint">Press Enter</div>
					</div>
					<div class="back" aria-hidden="{{!flippedOver}}">
						<div>V<span aria-hidden='true' class='readersonly'>.</span>A<span aria-hidden='true' class='readersonly'>.</span>S<span aria-hidden='true' class='readersonly'>.</span>Y<span aria-hidden='true' class='readersonly'>.</span>A</div>
					</div>
				</div>
			</div>
			<div class="controls">
				<button ng-repeat="btn in buttons" ng-keydown="enterCode($event, btn)" tabindex="1">{{btn}}</button>
				<button class="cancel" ng-keydown="clearCode($event)" tabindex="1" aria-label="Clear">C</button>
				<button class="enter" ng-keydown="validateCode($event)" tabindex="1">Enter</button>
			</div>
		</div>
	</div>
	<div class="actionLog" role="region" aria-live="assertive">
		&nbsp;<span ng-bind-html="actionLog"></span>&nbsp;
	</div>
</div>
