<div class="container puzzle1" ng-keydown="puzzle1KeyDownHandler($event)">
	<div class="topbar">
		<div class="tools">
			<button ng-click="openMenu($event)" ng-keydown="openMenu($event)"><span class="icon-menu"></span></button>
			<button ng-click="toggleAmbientSound($event)" ng-keydown="toggleAmbientSound($event)" ng-class="{ 'pressed' : game.settings.music }"><span ng-class="game.settings.music ? 'icon-volume-2' : 'icon-volume-x' "></span></button>
		</div>
		<div class="inventory">
			<div ng-repeat="item in game.inventory track by item.id" ng-class="item.class"></div>
		</div>
	</div>
	<div class="content" tabindex="1">
		<div class="main" role="application">
			<div class='hint' ng-show="hint.length">{{hint}}</div>
			<div class='display' ng-class="{ 'unlocked': !locked, 'blinking': error }" aria-live="polite">{{ message }}</div>
			<div class='panel' ng-show="showPanel"><img src='_/img/puzzles/panel_01.png' alt=''></div>
			<div class='controls'>
				<div ng-repeat="btn in buttons" class='togglebutton' role='button' aria-pressed="{{btn.pressed}}" tabindex='1' ng-keydown='toggleButton($event, $index)'></div>
			</div>
		</div>
	</div>
	<div role="region" aria-live="assertive">&nbsp; {{ actionLog }} &nbsp;</div>
</div>
